<style>
  @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
</style>

<nav class="navbar navbar-expand-sm navbar-dark">
  <div class="logo">
    <a class="navbar-brand" href="#">NOVEDADES  IDEA</a>
  </div>  
  <div class="productos-link">
    <a class="nav-link nav-item navbar-nav" routerLink="/list-prod">VER PRODUCTOS</a> <!-- Enlace Ver Productos -->
  </div>
  <div class="left-links">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">INCIAR SESIÓN</a>
      </li>
    </ul>
  </div>
</nav>

<!-- Fin de encabezado  -->
<div class="container-fluid_">
  <div id="carouselExampleFade" class="carousel slide carousel-fade">
    <div class="carousel-inner">
      <div class="carousel-item active min-vh-100 d-flex align-items-center">
        <img src="../../../assets/img/i1.jpg"  alt="...">
      </div>
      <div class="carousel-item min-vh-100 d-flex align-items-center">
        <img src="../../../assets/img/i10.jpg"  alt="...">
      </div>
      <div class="carousel-item min-vh-100 d-flex align-items-center">
        <img src="../../../assets/img/i3.jpg"  alt="...">
      </div>
      <div class="carousel-item min-vh-100 d-flex align-items-center">
        <img src="../../../assets/img/i6.jpg"  alt="...">
      </div>
      <div class="carousel-item min-vh-100 d-flex align-items-center">
        <img src="../../../assets/img/i8.jpg"  alt="...">
      </div>
      <div class="carousel-item min-vh-100 d-flex align-items-center">
        <img src="../../../assets/img/i9.jpg"  alt="...">
      </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>


<!-- footer -->
<footer class="container-fluid py-5" style="background-color: black;">
  <div class="floatbox">
    <div class="item">
      <div class="content">
        <img src="../../../assets/img/iconos/candado.png" alt="candado">
        <p>Pagos 100% seguros</p>
      </div>
    </div>
    <div class="item">
      <div class="content">
        <img src="../../../assets/img/iconos/entrega.png" alt="candado">
        <p>Entregas a toda la ciudad de Quito. Estamos ubicados en San José de Morán</p>
      </div>
    </div>
    <div class="item">
      <div class="content">
        <img src="../../../assets/img/iconos/estrellas.png" alt="candado">
        <p>Productos de calidad</p>
      </div>
    </div>
    <div class="item">
      <div class="content">
        <p>Operamos con </p>
        <a href="https://www.paypal.com/ec/signin">
          <img src="../../../assets/img/iconos/paypal.png"  alt="candado">
        </a>
      </div>
    </div>
  </div>
</footer>
