

/*diseño de footer*/
.floatbox {
    display: block;
    box-sizing: border-box;
    margin: 0px -2.5px;
  }
  
  .floatbox::after {
    clear: both;
    content: '';
    display: block;
  }
  
  .item {
    float: left;
    box-sizing: border-box;
    width: 25%;
    margin-bottom: 0px;
    padding: 0px 2.5px;
  }
  
  .item:nth-child(4n + 1) {
    clear: both;
  }
  
  .content {
    color: white;
    font-weight: 600;
    text-align: center;
    box-sizing: border-box;
    height: 100%;
    padding: 10px;
    display: flex;
    font-family: 'Raleway', sans-serif;
}

