<app-navbar></app-navbar>
<div class="container_">
  <img src="../../../assets/img/i7.jpg" alt="" />
  <p>
    <br /><br />Cada prenda que vendes y cada sonrisa que das a tus clientes es
    un pequeño paso hacia el éxito de nuestra marca. <br />
    Recuerda que cada cliente es una oportunidad para demostrar lo que hacemos
    bien y lo que podemos mejorar. <br />
    Mantén la mente abierta y el espíritu positivo, porque juntos somos más
    fuertes.
  </p>
  <button
    type="button"
    routerLink="/ver-prod"
    class="btn btn-outline-dark btn-lg boton"
  >
    Ver todos los productos
  </button>
</div>

<!-- Footer -->

<footer
  class="container-fluid py-5 texto"
  style="background-color: rgb(76, 83, 90)"
>
  <div class="floatbox">
    <div class="item">
      <div class="content">
        <img src="../../../assets/img/iconos/candado.png" alt="candado" />
        <p>Pagos 100% seguros</p>
      </div>
    </div>
    <div class="item">
      <div class="content">
        <img src="../../../assets/img/iconos/entrega.png" alt="candado" />
        <p>
          Entregas a toda la ciudad de Quito. Estamos ubicados en San José de
          Morán
        </p>
      </div>
    </div>
    <div class="item">
      <div class="content">
        <img src="../../../assets/img/iconos/estrellas.png" alt="candado" />
        <p>Productos de calidad</p>
      </div>
    </div>
    <div class="item">
      <div class="content">
        <p>Operamos con</p>
        <a href="https://www.paypal.com/ec/signin">
          <img src="../../../assets/img/iconos/paypal.png" alt="candado" />
        </a>
      </div>
    </div>
  </div>
</footer>
